<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todolist</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="icon" href="./assets/img/icon.png">
</head>

<body>
    <!-- Header -->
    <header>
        <h1 class="title">To Do List</h1>
    </header>

    <div id="app">
        <div class="container">
            <!-- Button -->
            <div id="form">
                <input type="text" placeholder="Add Task" id="input-text" v-model="newTask" @keyup.enter="addTask()">
                <button id="add-btn" @click="addTask()">Add</button>
            </div>
            <hr>
            <!-- List -->
            <div class="list">
                <ul id="todo-list">
                    <li>
                        <h3>&blacktriangledown; To Do</h3>
                        <ul>
                            <li v-for="(task, index) in taskList"><span class="check" :class="{green: !task.done}"
                                    @click="taskDone(index)">&check;</span> {{ task.text }}</li>
                        </ul>
                    </li>
                </ul>
                <br>
                <ul id="done-list">
                    <li>
                        <h3>&blacktriangledown; Done</h3>
                        <ul>
                            <li v-for="(complete, index) in completed"><span class="check" :class="{red: complete.done}"
                                    @click="taskNotDone(index)">&cross;</span> {{
                                complete.text }}</li>
                        </ul>
                    </li>
                </ul>
                <br>
            </div>
        </div>
        </main>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./assets/js/app.js"></script>
</body>

</html>